body {
  background-color: #fff;
  padding: 1rem;
  flex-direction: column;
  overflow-x: hidden;
  /* height: 100vh; */
  margin: 1rem 8rem;
}

code {
  background-color: #E5EFF5;
}

h1 {
  letter-spacing: .8rem;
  text-align: center;
  line-height: 2;
  color: #11192b;
}

h2 {
  color: #11192b;
}

h4 {
  color: #532E96;
}

#cmd {
  background-color: #7289DA;
}

.pro {
  line-height: 1.5;
  text-decoration: underline;
}

.clipped {
  width: 2200px;
  height: 150px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 1px solid red;
  background-image: url(/https://medium.com/cs-note/git-and-git[...]-for-beginners-i-tutorial-263caa01f9c3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-clip: border-box;
  background-origin: border-box;
}

p {
  line-height: 2;
  text-align: left;
}

a {
  text-decoration: none;
  line-height: 1.5;
  color: #7289DA;
}

a:hover {
  color: #18354c;
}

.bounce {
  width: 10px;
  padding: 20px;
  background: #fff;
  color: #653AB5;
  position: relative;
  animation: bounce 1s ease-in 2s 6 alternate none;
}

.container {
  background-color: #8752C2;
  line-height: 1.5;
  padding: 1rem;
  /* color: 532E96; */
}

.mb-2, .my-2 {
  margin-bottom: .5625rem;
}

li {
  line-height: 2;
}

.tech {
  text-align: center;
  color: #E3eFf5;
}

@keyframes bounce {
  from {
    top: 0;
    left: 0;
  }

  to {
    top: 15px;
    left: 20px;
  }
}

.glow-anime{
  font-size: 2rem;
  color: #ED3F2123;
  font-weight: bold;
  font-family: fantasy;
}

.footer {
  color: #000111;

}
