

body {
  background-color: #fff;
  padding: 1rem;
  flex-direction: column;
  overflow-x: hidden;
  /* height: 100vh; */
  margin: 0 8rem;
}

#body {
  /* background-color: #8261CB; */
  padding: 1rem;
}

code {
  /* background-color: #E5EFF5; */
  word-wrap:
    break-word;
  border-radius: 3px;
}

.terminal {
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background: #e8e8e8;
  /* color: #E5EFF5; */
  padding: 1.25rem;
  font-family: "fira-mono", "PT Sans Mono", "Monaco", "Iconsolas", "Droid Sans Mono", monospace;
  font-weight: 400;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.terminal-line {
  color: #e8e8e8;
  background: transparent;
  padding: 0;
  display: block;
}

pre {
  margin-top: 0;
  margin-bottom: 1.25rem;
  overflow-x: scroll;
  opacity: 1;
  display: block;
  transform: translateY(0px);
  border-radius: 3px;
}

h1 {
  letter-spacing: .8rem;
  text-align: center;
  line-height: 2;
  color: #11192b;
  font-size: 3rem;
}

.hr {
  border: dotted #e8e8e8 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

pre {
  white-space: pre-wrap;
  word-wrap:
    break-word;
  overflow: auto;
}

h2 {
  color: #333333;
  margin-top: 0;
  /* font-size: 3rem; */
}

h4 {
  color: #532E96;
}

ul li {
  list-style: disc outside none;
}

#cmd {
  background-color: #7289DA;
}

.pro {
  line-height: 1.5;
  text-decoration: underline;
}

.clipped {
  width: 2200px;
  height: 150px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 1px solid red;
  background-image: url(/https://medium.com/cs-note/git-and-git[...]-for-beginners-i-tutorial-263caa01f9c3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-clip: border-box;
  background-origin: border-box;
}

p {
  line-height: 2;
  text-align: left;
}

/* Anchor  */
a, a::before, a::after {
  text-decoration: none;
  line-height: 1.5;
  color: #7289DA;
}

a:hover {
  color: #18354c;
}

.hyper{
  color: #653AB5;
}

#installation {
  /* background-color: #18354c; */
  padding: 2rem;
}

.bounce {
  width: 10px;
  padding: 20px;
  background: #fff;
  color: #653AB5;
  position: relative;
  animation: bounce 1s ease-in 2s 6 alternate none;
}

.container1 {
  background-color: #8752C2;
  line-height: 1.5;
  padding: 1rem;
  color: #532E96;
}

/* bottom div  */
.container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.md-px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.col {
  float: inherit;
  box-sizing: border-box;
}

.rightter {
  float: right;
  padding: 1.25rem;
  box-sizing: border-box;
  width: 50%;
}

.p2 {
  padding: 1.25rem;
  box-sizing: border-box;
}

.sm-col-6 {
  width: 50%;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0;
  /* -ms-font-feature-settings: "smcp", "c2sc"; */
  font-variant-caps: all-small-caps;
}

.mb-2, .my-2 {
  margin-bottom: .5625rem;
}

li {
  line-height: 2;
}

.tech {
  text-align: center;
  color: #000111;
  /* margin-top: 2rem; */
}

@keyframes bounce {
  from {
    top: 0;
    left: 0;
  }

  to {
    top: 15px;
    left: 20px;
  }
}

.glow-anime {
  font-size: 2rem;
  color: #ED3F2123;
  font-weight: bold;
  font-family: fantasy;
  mix-blend-mode: luminosity;
}

/* footer properties */
#footer {
  background-color: #def1e7;
  color: #000111;
}

.footer {
  /* color: #000111; */
  padding: 2rem;
  display:
    block;
}

.font-serif {
  font-family: "ff-meta-serif-web-pro", "PT Serif", Georgia, "Droid Serif", serif;
}
  
.media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.rounded {
  width: 10%;
  height: 20;
  border: 0;
  /* border-radius: 3px; */
}

.gitcommand {
  letter-spacing: 0.3rem;
  text-align: center;
}

blockquote footer a .media-image, .blockquote footer a .media-image {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 3px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
}

.btn-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  font-size: 75%;
  color: rgb(129, 138, 145);
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0.25rem;
}

.btn-clipboard:hover{
  background-color: #11192b;
  color: #e8e8e8;
}
button{
  overflow: visible;
}


.bd-clipboard {
    display: block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.rr:hover{
  mix-blend-mode: luminosity;
    transition: all 0.5s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}


  
body {
  color: #282832;
    font-family: "Helvetica",serif;
}

a {
    color: #2774a8;
}
a:hover, a:focus {color:#2793a8;}
.header-block-sm, .content-main, #footer {
    background-color: #ffffff;
}
.paly-btn-block a {background-color: #277fa8 }
.colum-right-block h1.tit, .content-main h4, #footer a, #footer, .wtf-widget .following {
    color: #000000;
}

.colum-right-block h1.tit {font-family: "Helvetica",serif;}

.posttitle h2 a {
    color: #000000;
    font-family: "Helvetica",serif;
}
.posttitle h2 a:hover{
    color: #2793a8;
    font-family: "Helvetica",serif;
}
#content-main h4 {border-bottom: 5px solid #282832}
/* 
#footer{
  color: #18354c;
  text-align: center;
} */

.known{
  cursor: pointer;
}

.credits, .maintainer {
  font-weight: 400;
  font-family: lato,sans-serif;
  font-size: 20px;
  color: #16a085;
  padding: 30px 0;
  margin: 0;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

